body {
    background-color: rgba(207, 209, 208, 0.34);
    width: 90vh;
    margin-inline: auto;
}
pre {
    background-color: rgba(166, 174, 172, 0.549);
}
div {
    background-color: #eeee;
}

#containerInputs {
    margin-top: 24px;
    display: grid;
    text-align: center;
}

#containerInputs div{
    display: flow;

}